<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
     <%- include("partials/header.ejs") %>
</head>
<body>
    <h1 class="title-like">
        Quotes by
        <% if (rows.length) { %>
            <a href="/author?authorId=<%= rows[0].authorId %>"><%= rows[0].firstName %> <%= rows[0].lastName %></a>
        <% } else { %>
            Selected Author
        <% } %>
    </h1>
    <ul>
        <% rows.forEach(row => { %>
            <li class="quote"><%= row.quote %> - <%= row.firstName %> <%= row.lastName %></li>
        <% }) %>
    </ul>
    <%- include("partials/footer.ejs") %>
</html>